.contract-text {
    overflow: auto;
    max-height: calc(100vh - 200px);
    width:100%;
    margin: 0;
    padding: 0;
    text-align: justify;
}

mark {
    cursor: pointer;
}

mark.deleted {
    text-decoration: line-through;
}

mark span {
    text-decoration: line-through;
}