{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% for category in categories %}
    <div class="card">
        <div class="card-header">
            <b>{{ category.name }} Templates</b>
        </div>
        <div class="card-body">
            <table class="table table-responsive-sm table-striped">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for template in category.contracttemplate_set.all %}
                        <tr>
                            <td>{{ template.name }}</td>
                            <td>{{ template.description }}</td>
                            <td>{{ template.created_at }}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#template{{ template.id }}" ><i class="icon-eye"></i></a>
                                <a href="{{ template.original_file.url }}" class="btn btn-sm btn-primary" target="_blank"><i class="icon-cloud-download"></i></a>
                                <a href="/templates/delete?id={{ template.id }}" class="btn btn-sm btn-primary" ><i class="icon-trash"></i></a>
                            </td>
                        </tr>

                        <div class="modal fade" id="template{{ template.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ template.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>

                    <div class="modal-body">
                        <textarea disabled class="form-control" style="width: 100%;" rows="30">{{ template.text_content }}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}


{% endblock %}

{% block scripts %}
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload a new contract template</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>

                    <div class="modal-body">
                        <form method="post" id="form" enctype='multipart/form-data' novalidate>
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="$('#form').submit();">Submit</button>
                    </div>

                </div>
            </div>
        </div>


{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Satori</li>
        <li class="breadcrumb-item active">Templates</li>
        <li class="breadcrumb-item">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#largeModal">
                Upload new template
            </button>
        </li>
        <li class="breadcrumb-item">
            <input type="text" class="form-control-sm" placeholder="Search">
        </li>
{% endblock %}