<li class="nav-item">
    <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/templates"><i class="icon-docs"></i> Templates</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contracts/create"><i class="icon-plus"></i> New contract</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contracts/pending"><i class="icon-drawer"></i> Pending contracts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/templates"><i class="icon-briefcase"></i> Stored contracts</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/templates"><i class="icon-settings"></i> Settings</a>
</li>